{
    "name": "{{ dog_name }}'s Age",
    "short_name": "Dog Years",
    "display": "standalone",
    "description": "{{ dog_name }}'s Age on-demand",
    "icons": [{
      "src": "assets/{{ dog_profile_pic }}.png",
      "sizes": "200x200",
      "type": "image/png"
    }]
  }